.identification{
  background-color: white;
  height: 1250px;
  position: relative;
  padding: 10px 60px;
  &__title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  &__message{
    font-size: 14px;
    text-align: center;
    margin: 10px 0 40px;
  }
  &__note{
    color: #888888;
    font-size: 15px;
    margin-top: 10px;
  }
  &__entry{
    margin-top: 40px;
  }
}
