.identification{
  background-color: white;
  height: 1250px;
  position: relative;
  padding: 10px 60px;
  &__title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  &__message{
    font-size: 14px;
    text-align: center;
    margin: 10px;
  }
  &__name{
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-top: 30px;
  }
  &__icon{
    background-color: #D84638;
    color: white;
    display: inline-block;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 2px;
    margin-left: 10px;
    &--gray{
      background-color: #CCCCCC;
    }
  }
  &__form{
    margin: 10px 0;
  }
  &__input{
    width: 540px;
    height: 45px;
    border-radius: 5px;
    border:  1px solid #CCCCCC;
    padding: 0 20px;
  }
  &__note{
    color: #888888;
    font-size: 15px;
    margin-top: 10px;
  }
  &__entry{
    margin-top: 40px;
  }
  &__button{
    background-color: #D84638;
    color: white;
    padding: 15px 255px;
  }
  &__overview-link{
    color: #4298E2;
    text-align: right;
    margin-top: 50px;
    font-size: 14px;
  }
}
