ul, ol{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  vertical-align: middle;
}

figure{
  margin: 0;
}

.btn-red{
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

.btn-gray{
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}

.new-main__btn-box{
  p{
    line-height: 1.5;
  }
  .btn-red{
    margin: 40px 0 0;
  }
  .btn-gray{
    width: 45%;
    margin: 24px auto 0;
  }
}

.sell-upload-button{
  font-size: 14px;
  a{
    display: inline-block;
    width: 50%;
    background: #f5f5f5;
    line-height: 44px;
    text-align: center;
  }
}

.new-wrap{
  padding:0 0 250px;
  background-color: whitesmoke;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color: #333333;
  font-size: 14px;
  position: relative;
  min-height: 100%;
  line-height: 1;
  display: block;
  main{
    display: block;
    .new-main{
      width: 700px;
      margin: 0 auto;
      background: #fff;
      &__container{
        .new-main__title{
          padding: 32px 16px;
          font-size: 22px;
          line-height: 1.5;
          text-align: center;
          font-weight: bold;
        }
        .new-main__sell{
          border-top: 1px solid #eee;
          .new-main__image{
            width: 620px;
            padding: 40px;
            .new-main__image-head{
              font-size: 16px;
              font-weight: bold;
            }
            p{
              margin: 8px 0 0;
              line-height: 1.5;
            }
            .image-upload-dropbox__container{
              display: block;
              width: 620px;
              margin: 16px auto 0;
              .image-upload-items__container{
                display: inline;
                .image-upload-items{
                  display: inline;
                  ul{
                    display: inline;
                  }
                  .image-upload-item{
                    width: 116px;
                    margin: 0 0 10px 10px;
                    position: relative;
                    border: 1px solid #eee;
                    vertical-align: top;
                    display: inline-block;
                  }
                  .image-upload-item:first-child{
                    margin-left: 0;
                  }
                  .sell-upload-figure{
                    width: auto;
                    padding: 0;
                    height: 116px;
                    position: relative;
                    overflow: hidden;
                    background: #f5f5f5;
                    img{
                      cursor: default;
                    }
                  }
                  .sell-upload-figure.portrait{
                    text-align: center;
                    img{
                      position:static;
                      top: 50%;
                      left: 0;
                      width: 100%;
                    }
                  }
                }
              }
              label{
                width: 100%;
                height: 100%;
              }
              .image-upload-dropbox{
                width: 538px;
                margin-left: 0;
                padding: 40px;
                position: relative;
                min-height: 80px;
                background: #f5f5f5;
                border: 1px dashed #ccc;
                font-size: 0;
                text-align: center;
                cursor: pointer;
                input{
                  border: 0;
                  outline: 0;
                  font-family: inherit;
                .image-upload-dropfile{
                  width: 100%;
                  height: 100%;
                }
                }
                pre{
                  position: absolute;
                  top: 50%;
                  left: 16px;
                  right: 16px;
                  text-align: center;
                  font-size: 14px;
                  line-height: 1.5;
                  transform: translate(0, -50%);
                  pointer-events: none;
                  white-space: pre-wrap;
                  word-wrap: break-word;
                }
                .icon-camera{
                  display: none;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.form-require, .form-arbitrary{
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
  vertical-align:top;
}

.form-arbitrary{
  background: #ccc;
}

.new-main__content{
  padding: 40px;
  border-top: 1px solid #eee;
}

label{
  display: inline-block;
}

.textarea-default{
  display: block;
  width: 598px;
  max-width: 598px;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.select-wrap{
  position: relative;
  background: #fff;
}

.input-default{
  height: 28px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.form-group{
  margin: 40px 0 0;
  label{
    font-weight: bold;
  }
  .input-default{
    width: 586px;
    margin: 8px 0 0;
  }
  .textarea-default{
    margin: 8px 0 0;
  }
  .select-wrap{
    margin: 8px 0 0;
  }
  select{
    width: 100%;
  }
}

.form-suggest-container{
    position: relative;
  .input-default{
    width: 366px;
  }
}

.form-group:first-child{
  margin: 0;
}

textarea{
  border-radius: 0;
  outline: 0;
}

.new-main__content__sub-head{
  float: left;
  color: #888;
  font-size: 14px
}

.new-main__content__form-box{
  float: right;
  width: 400px;
  margin: 0;
}

.select-default{
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.l-left{
  float: left;
}

.l-right{
  float: right;
}

.sell-price__input{
  text-align: right;
  &__block{
    display: inline-block;
  }
  &__block:first-child{
    margin: 0 5px 0 0;
  }
  .input-default{
    margin: 0;
    text-align: right;
  }
}

.sell-price{
  li{
    padding: 24px 0;
    border-top: 1px solid #ccc;
  }
  li:first-child{
    padding: 0 0 24px;
    border: 0;
  }
  .form-group{
    .l-left{
      width: 50%;
      line-height: 48px;
    }
    .l-right{
      width: 50%;
    }
    .input-default{
      width: 126px;
    }
  }
}

.bold{
  font-weight: 600;
}

.form-question{
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}
