.tag {
  &__content {
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
    &__good {
      width: 20%;
      background: #eee;
      border-radius: 30%;
      height: 30px;
      line-height: 30px;
      display: inline-block;
      color: black;
      text-align: center;
      font-size: 13px;
    }
    &__report {
      display: inline-block;
      background: #eee;
      border-radius: 30%;
      height: 30px;
      line-height: 30px;
      color: black;
      font-size: 13px;
      width: 25%;
      text-align: center;
    }
    &__gooded {
      background: white;
      border: solid red 2px;
      border-radius: 35%;
      height: 30px;
      width: 100px;
      text-align: center;
      line-height: 30px;
      &--rogo {
        color: red;
      }
      &--text {
        color: red;
      }
      &--num {
        color: red;
      }
    }
    &__message__show {
      color: #0099e8;
    }
  }
}
