.product-image {
  margin-top: 60px;
    &__user-otherwise {
      &__title {
        font-size: 20px;
      }
      &__list__item {
        width: 30%;
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;
        margin-bottom: 20px;
        &__image {
          width: 100%;
        }
        &__text {
          background-color: white;
        }
      }
    }
    &__item-otherwise {
      &__title {
        font-size: 20px;
      }
    }
}
