.signup-container{
  padding:0 0 250px;
  background-color: whitesmoke;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color: #333333;
  font-size: 14px;
  position: relative;
  min-height: 100%;
  line-height: 1;
  display: block;
  .signup-header{
    text-align: center;
    height: 128px;
    h1{
      display: inline-block;
      margin: 40px 0 0;
      a{
        display: inline-block;
        width: 185px;
        height: 49px;
        line-height: 49px;
        img{
          width: 185px;
          height: 49px;
        }
      }
    }
  }
  main{
    display: block;
    .l-signup-container{
      background: #fff;
      width: 700px;
      margin: 0 auto;
      .l-signup-head{
        padding: 32px 16px;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
        font-weight: bold;
      }
      .l-signup-inner{
        border-top: 1px solid #f5f5f5;
        padding: 64px;
        .l-signup-content{
          max-width: 320px;
          margin: 0 auto;
          .btn-default{
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
            position: relative;
          }
          .btn-mail{
            position: relative;
            background: #eee;
            color: #000;
            .fa-envelope{
              position: absolute;
              top: 16px;
              left: 16px;
              color: #ccc;
              font-size: 18px;
            }
          }
          .btn-sns{
            position: relative;
          }
          .btn-sns-facebook{
            margin: 16px 0 0 0;
            position: relative;
            background: #385185;
            color: #FFFFFF;
            .fa-facebook{
              position: absolute;
              top: 16px;
              left:16px;
              color: #fff;
              font-size: 18px;
            }
          }
          .btn-sns-google{
            margin: 16px 0 0 0;
            position: relative;
            background: #dc4e41;
            color: #FFFFFF;
            .fa-google-plus-g{
              position: absolute;
              top: 16px;
              left:16px;
              color: #fff;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  .signup-footer{
    // position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 250px;
    padding: 40px 0;
    text-align: center;
    ul{
      font-style: none;
      .clearfix:after{
        content: '';
        display: block;
        clear: both;
      }
      li:first-child{
        margin: 0;
      }
      li{
        margin: 16px 0 0;
        font-size: 12px;
        position: relative;
        display: inline-block;
        margin: 0 0 0 16px;
        a{
          display: block;
          color: #333;
          text-decoration: none;
        }
      }
    }
    a{
      display: block;
      color: #333;
    }
    .signup-footer__logo{
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
      img{
        vertical-align: middle;
      }
    }
    p{
      margin: 8px 0 0;
      small{
        font-size: 12px;
      }
    }
  }
}
