.top-wrap{
  width: 100%;
}

.clearfix::after {
    content : " ";
    display : block;
    clear : both;
}

.top-banner{
  background-color: #F5F5F5;
  &__image{
    width:100%; height:400px;
    object-fit:cover;
  }
}

.top-main__wrap{
  width: 100%;
  background-color: #F5F5F5;
}

.top-main{
  text-align: center;
  font-size: 24px;
  padding-top: 30px;
  font-weight: bold;
  width: 925px;
  margin: 0 auto;
  &__title{
  }
  &__category{
  }
  &__category-name{
    margin: 25px 0 15px;
  }
  &____product-list{
  }
  &__all-product-link{
    font-size: 14px;
    font-weight: normal;
    padding: 15px 0 65px;
    text-align: right;
  }
}

.top__app-introduction{
  background-color: #212121;;
  &__image{
    width:100%; height:260px;
    object-fit:cover;
  }
}
