body{
  width: 100%;

}

.clearfix::after {
    content : " ";
    display : block;
    clear : both;
}

.top-header{
  width: 1020px;
  margin: 0 auto;
  padding-top: 5px;
  &__logo{
    float: left;
    width: 140px;
    height: 40px;
  }
  &__form{
    float: right;
    position: relative;
    .form__input{
      width: 850px;
      height: 38px;
      padding-left: 10px;
      border-radius: 5px;
      border:  1px solid #CCCCCC;
    }
    .form__button{
      border: none;
      position: absolute;
      right: 10px;
      top: 12px;
      font-size: 15px;
      color: #737373;
    }
  }
  &__search-link{
    float: left;
    line-height: 50px;
    .search-link--category{
      display: inline-block;
      font-size: 14px;
      margin-left: 5px;
    }
    .search-link--brand{
      display: inline-block;
      font-size: 14px;
      margin-left: 15px;
    }
  }
  &__user-info{
    line-height: 50px;
    .user-info__mypage{
    display: inline-block;
    margin-left: 420px;
      .mypage__image{
        float: left;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin-top: 10px;
      }
      .mypage__title{
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
      }
    }
    .user-info__notice{
      display: inline-block;
      font-size: 18px;
      margin-left: 10px;
      .notice__text{
        font-size: 14px;
        display: inline-block;
      }
    }
    .user-info__todo{
      display: inline-block;
      margin-left: 10px;
      font-weight: normal;
      .fa-check{
        font-size: 22px;
        -webkit-text-stroke: 2px white;
      }
      .todo__text{
        font-size: 14px;
        display: inline-block;
      }
    }
  }
}

.top-banner{
  background-color: #F5F5F5;
  &__image{
    width:100%; height:400px;
    object-fit:cover;
  }
}

.wrap{
  width: 100%;
  background-color: #F5F5F5;
}

.top-main{
  text-align: center;
  font-size: 24px;
  padding-top: 30px;
  font-weight: bold;
  width: 925px;
  margin: 0 auto;
  &__title{
  }
  &__category{
  }
  &__category-name{
    margin: 25px 0 15px;
  }
  &____product-list{
  }
  &__all-product-link{
    font-size: 14px;
    font-weight: normal;
    padding: 15px 0 65px;
    text-align: right;
  }
}


