.top-wrap{
  width: 100%;
  position: relative;
}

.clearfix::after {
    content : " ";
    display : block;
    clear : both;
}

.top-banner{
  background-color: #F5F5F5;
  &__image{
    width:100%; height:400px;
    object-fit:cover;
  }
}

.top-main__wrap{
  width: 100%;
  background-color: #F5F5F5;
}

.top-main{
  text-align: center;
  font-size: 24px;
  padding-top: 30px;
  font-weight: bold;
  width: 925px;
  margin: 0 auto;
  &__category-name{
    margin: 25px 0 15px;
  }
  &__all-product-link{
    font-size: 14px;
    font-weight: normal;
    padding: 15px 0 65px;
    text-align: right;
  }
}

.top__app-introduction{
  background-color: #212121;
  &__image{
    width:100%; height:260px;
    object-fit:cover;
  }
}

.top-button{
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #D84638;
  color: white;
  &__icon{
    position: absolute;
    top: 20px;
    right: 45px;
    text-align: center;
  }
  &__name{
    font-size: 22px;
  }
  &__camera{
    font-size: 65px;
  }
}
