.product
  = image_tag("member_photo_noimage_thumb.png", class: :"product__image",)
  .product__title
    .product__name 【中古】サーモンおひたし(アラスカ産ではなくて、エクアドル産)
    .product__name--fade-out
  .product__price
    .price__yen ¥9,000
    .price__tax (税込)
  .product__like
    .like__heart.far.fa-heart
    .like__number 19
