.top-footer__wrap
  .top-footer
    .top-footer__about-mercari
      .top-footer__title メルカリについて
      .top-footer__company-profile 会社概要（運営会社）
      .top-footer__privacy-policy プライバシーポリシー
      .top-footer__terms-of-Service メルカリ利用規約
      .top-footer__point-contract メルカリ利用規約・有償ポイントに関する特約
      .top-footer__smartphone-support あんしんスマホサポート制度に関する利用特約
      .top-footer__compliance-policy コンプライアンスポリシー
      .top-footer__management-of-personal-data 個人データの安全管理に係る基本方針
      .top-footer__specific-commercial-transactions 特定商取引に関する表記
      .top-footer__fund-settlement-law 資金決済法に基づく表示
      .top-footer__deterrence-of-crime 法令順守と犯罪抑止のために
      .top-footer__adoption 採用情報
    .top-footer__view-mercuri
      .top-footer__title メルカリを見る
      .top-footer__category カテゴリー一覧
      .top-footer__brand ブランド一覧
      .top-footer__area 出品地域一覧
      .top-footer__blog 公式ブログ
      .top-footer__twitter 公式Twitter
      .top-footer__facebook 公式Facebook
    .top-footer__help
      .top-footer__title ヘルプ＆ガイド
      .top-footer__guide メルカリガイド
      .top-footer__logo-guidelines メルカリロゴ利用ガイドライン
      .top-footer__notice お知らせ
      .top-footer__rakuraku-bin らくらくメルカリ便とは
      .top-footer__yuuyuu-bin ゆうゆうメルカリ便とは
      .top-footer__big-rakuraku-bin 大型らくらくメルカリ便とは
      .top-footer__car-dealing 車体取引ガイド
      .top-footer__refund 返品・返金ポリシー
      .top-footer__declaration メルカリあんしん・あんぜん宣言！
      .top-footer__fake-brand 偽ブランド品撲滅への取り組み
      .top-footer__mercari-box メルカリボックス
    .top-footer__country
      .top-footer__title 国
      .top-footer__USA
        .top-footer__icon
        .top-footer__name United States
      .top-footer__UK
        .top-footer__icon
        .top-footer__name United Kingdom
      .top-footer__JPN
        .top-footer__icon
        .top-footer__name 日本
    .top-footer__logo
      .top-footer__icon
        = image_tag("logo-white", class: :"top-footer__icon__image")
      .top-footer__copyright © 2019 Mercari
