.signup-container.hidden.active
  %header.signup-header
    = render "signin-header"
  %main.signup-main
    = render "signin-main"

    %section.l-signup-container.hidden
      %h2.l-signup-head 新規会員登録
      .l-signup-inner
        .l-signup-content
          .btn-default.btn-mail.signup-main__botton
            = link_to "メールアドレスで登録", new_registration_path(resource_name)
            %i.btn-mail.far.fa-envelope
          %a
            %btn.btn-default.btn-sns.btn-sns-facebook
              Facebookで登録
              %i.icon-facebook.fab.fa-facebook
          %a
            %btn.btn-default.btn-sns.btn-sns-google
              Googleで登録
              %i.icon-google-plus.fab.fa-google-plus-g

  %footer.signup-footer
    = render "signin-footer"
