%section.items-box-container.clearfix
  %h3.text-center
    シャネル 新着アイテム
  - @products.each do |p|
    = render :partial => "product-test", :locals => { product_name: p.name , product_price: p.price , product_image: p.item_images.first.name }
  .view-all
    %a 全ての商品を見る
%section.items-box-container.clearfix
  %h3.text-center
    ヴィトン 新着アイテム
  - @products.each do |p|
    = render :partial => "product-test", :locals => { product_name: p.name , product_price: p.price , product_image: p.item_images.first.name }
  .view-all
    %a 全ての商品を見る

%section.items-box-container.clearfix
  %h3.text-center
    シュプリーム 新着アイテム
  - @products.each do |p|
    = render :partial => "product-test", :locals => { product_name: p.name , product_price: p.price , product_image: p.item_images.first.name }
  .view-all
    %a 全ての商品を見る

%section.items-box-container.clearfix
  %h3.text-center
    ナイキ 新着アイテム
  - @products.each do |p|
    = render :partial => "product-test", :locals => { product_name: p.name , product_price: p.price , product_image: p.item_images.first.name }
  .view-all
    %a 全ての商品を見る
