.product
  = image_tag @product.item_images.first.name, class: "product__image"
  .product__title
    .product__name
      = @product.name
    .product__name--fade-out
  .product__price
    .price__yen
      ¥
      = @product.price
    .price__tax (税込)
  .product__like
    .like__heart.far.fa-heart
    .like__number 19
